@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

$primary--100: #00ad6a;
$primary--200: #1fe374;
$primary--300: #d6dae5;
$neutral--100: #eafaf1;
$neutral--200: #080c16;
$neutral--300: #fcfcfc;

$workSans: 'Work Sans', sans-serif;

body {
	font-family: $workSans;
	font-weight: 400;
}

.nav {
	&__link {
		color: $primary--100;
		font-weight: 700;
		transition: all 500ms ease-in-out;

		&:hover {
			color: $neutral--200;
		}
	}
}

.btnEffect {
	min-height: 2.5rem;
	padding: 0 1rem;
	text-align: center;
	color: $primary--100;
	border: 2px solid $primary--100;
	transition: all 300ms ease-in-out;

	&:hover {
		transform: translate(5px, -5px);
		box-shadow: -5px 5px 0px 0px rgba(0, 173, 106, 1);
		-webkit-box-shadow: -5px 5px 0px 0px rgba(0, 173, 106, 1);
		-moz-box-shadow: -5px 5px 0px 0px rgba(0, 173, 106, 1);
	}
}

.features {
	&__introTitle {
		color: $neutral--200;
	}
}

.bg--greenWhite {
	background-color: $neutral--100;
}

.neutral300 {
	background-color: $neutral--300;
}

.bgGreenGradient {
	background: rgb(0, 173, 106);
	background: linear-gradient(
		90deg,
		rgba(0, 173, 106, 1) 0%,
		rgba(31, 227, 116, 1) 100%
	);
}

.footerBg {
	background-color: $neutral--200;
	color: $primary--200;

	&__credit {
		color: $neutral--100;
	}
}

.btnFooterEffect {
	min-height: 3.5rem;
	padding: 0 2rem;
	text-align: center;
	background: rgb(0, 173, 106);
	background: linear-gradient(
		90deg,
		rgba(0, 173, 106, 1) 0%,
		rgba(31, 227, 116, 1) 100%
	);
	color: $neutral--200;
	transition: all 300ms ease-in-out;

	&:hover {
		transform: translate(5px, -5px);
		box-shadow: -5px 5px 0px 0px rgb(91, 94, 93);
	}
}
